body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: auto;
  margin-left: 300px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 300px;
  height: calc(100vh - 400px);
  overflow: hidden;
  float: left;
}

nav > ul {
  height: 100%;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

section {
  width: 100%;
  padding: 4em 5em;
}

section:nth-child(even) {
  background: rgba(0, 136, 255, 0.03);
}

.example-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.example-container > div {
  flex: 1;
  padding: 20px;
}

.code  {
  position: relative;
}

.code > .actions {
  position: absolute;
  right: 6px;
  top: 6px;
  display: inline-block;
}

.actions > .copy {
  cursor: pointer;
}

.actions > .lang, .actions > .copy {
  border: white;
  background: rgba(255, 255, 255, .8);
  color: inherit;
  border-radius: 5px;
}

.actions > .lang {
  outline: none;
  cursor: help;
  margin-right: 4px;
}
